.visually-hidden:not(:focus):not(:active) {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    -webkit-clip-path: inset(100%);
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.input-visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    opacity: 0;
  }

.nbsp {
    white-space: nowrap;
}

//два правила ниже убирают скроллбар

// ::-webkit-scrollbar {
//     width: 0px;
//     background: transparent;
// }
// html {
//     -ms-overflow-style: none;
//     scrollbar-width: none;
// }

body {
    overflow-x: hidden;
}

.container-large {
    max-width: 1360px;
    width: 100%;
    margin: 0 auto;
    box-sizing: border-box;

    @media screen and (max-width: 1360px) {
        padding: 0 20px;
    }
}

.container {
    max-width: 1220px;
    width: 100%;
    margin: 0 auto;
    box-sizing: border-box;

    @media screen and (max-width: 1360px) {
        padding: 0 20px;
    }
}

.js-validate-error-label {
    font-size: 12px;
}