.cont {
    width: 100px;
    height: 100px;
    background-color: rgb(255, 217, 0);
}

.img {
    width: 100px;
    height: 100px;
    background-image: url(../img/card-main.jpg);
    background-size: cover;
}

.svg {
    width: 24px;
    height: 24px;
    fill: rgb(228, 76, 76);
}