.header {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    padding-top: 30px;
    z-index: 1;
    box-sizing: border-box;

    &__burger {
        display: none;
    }

    &__inner-wrapper {
        display: flex;
        align-items: flex-start;
    }

    &__logo-music-toggle-wrapper {
        margin-right: auto;
    }

    &__nav-social-wrapper {
        margin-right: 185px;
    }

    &__logo {
        display: block;
        margin-bottom: 75px;
        transition: opacity 0.5s ease-in-out;

        &:hover {
            opacity: 0.7;
        }

        &:focus {
            opacity: 0.7;
        }

        &:active {
            opacity: 0.5;
        }
    }

    &__sound-toggle-btn-close {
        position: absolute;
        top: 50%;
        right: 0;
        width: 12px;
        height: 12px;
        transform: translateY(-50%);

        span {
            position: absolute;
            right: 0;
            top: 50%;
            width: 12px;
            height: 2px;
            background-color: #ffffff;
            
            &:nth-child(1) {
                transform: translateY(-50%) rotate(45deg);
            }

            &:nth-child(2) {
                transform: translateY(-50%) rotate(-45deg);
            }
        }
    }

    &__sound-toggle {
        position: relative;
        display: inline-block;
        padding: 0;
        padding-right: 20px;
        cursor: pointer;
    }

    &__sound-toggle-text {
        opacity: 0.6;
        transition: opacity 0.5s ease-in-out;
    }

    &__sound-toggle:hover &__sound-toggle-text {
        opacity: 1;
    }

    &__sound-toggle:focus &__sound-toggle-text {
        opacity: 1;
    }

    &__sound-toggle:active &__sound-toggle-text {
        opacity: 0.5;
    }

    &__btn {
        font-family: "IBM Plex Sans", Arial, sans-serif;
        font-size: 14px;
        font-weight: 600;
        line-height: 20px;
        letter-spacing: 0.05em;
        color: #ffffff;
        text-transform: uppercase;
        text-decoration: none;
    }

    &__cta {
        position: relative;
        display: block;
        padding-left: 45px;
        transition: color 0.5s ease-in-out;

        &:hover {
            color: rgba($color: #ffffff, $alpha: 0.7);
        }

        &:focus {
            color: rgba($color: #ffffff, $alpha: 0.7);
        }

        &:active {
            color: rgba($color: #ffffff, $alpha: 0.5);
        }
    }

    &__cta:hover &__cta-btn-icon {
        background-color: rgba($color: #eb444a, $alpha: 1.0);

        span {
            background-color: #ffffff;
        }
    }

    &__cta:focus &__cta-btn-icon {
        background-color: rgba($color: #eb444a, $alpha: 1.0);

        span {
            background-color: #ffffff;
        }
    }

    &__cta:active &__cta-btn-icon {
        background-color: rgba($color: #eb444a, $alpha: 0.7);

        span {
            background-color: #ffffff;
        }
    }

    &__cta-btn-icon {
        position: absolute;
        top: 50%;
        left: 0;
        width: 30px;
        height: 30px;
        background-color: #fff;
        border-radius: 50%;
        transform: translateY(-50%);
        transition: background-color 0.5s ease-in-out;

        span {
            position: absolute;
            left: 50%;
            top: 50%;
            width: 20px;
            height: 2px;
            background-color: #000000;
            transition: background-color 0.5s ease-in-out;

            &:nth-child(1) {
                transform: translate(-50%, -50%);
            }
    
            &:nth-child(2) {
                transform: translate(-50%, -50%) rotate(90deg);
            }
        }

        &:hover {
            background-color: rgba($color: #eb444a, $alpha: 1.0);
        }

        &:focus {
            background-color: rgba($color: #eb444a, $alpha: 1.0);
        }

        &:active {
            background-color: rgba($color: #eb444a, $alpha: 0.7);
        }
    }

    @media (max-width: 1000px) {
        &__nav-social-wrapper {
            display: flex;
            justify-content: space-between;
            width: 100%;
            order: 1;
            margin-right: auto;
        }

        &__inner-wrapper {
            flex-wrap: wrap;
        }

        &__logo-music-toggle-wrapper {
            display: flex;
            margin-bottom: 50px;
        }

        &__logo {
            margin-right: 50px;
            margin-bottom: 0;
        }
    }

    @media (max-width: 768px) {

        &__logo-music-toggle-wrapper {
            width: 100%;
            flex-wrap: wrap;
            justify-content: space-between;
            margin-right: 0;
            margin-bottom: 50px;
        }

        &__logo {
            margin-right: 0;
        }

        &__nav-social-wrapper {
            flex-direction: column;
            order: 0;
            margin-bottom: 180px;
        }

        &__btn {
            font-size: 12px;
        }
    }
}