.hero {
    width: 100%;
    height: 100vh;
    background-image: repeating-linear-gradient(to bottom, black, black 1px, transparent 1px, transparent 5px), url(../img/bg-hero.jpg);
    background-repeat: no-repeat;
    background-size: cover;

    @media (-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
        background-image: repeating-linear-gradient(to bottom, black, black 1px, transparent 1px, transparent 5px), url(../img/bg-hero@2x.jpg);
    }

    &__bg-layout {
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        height: 100%;
        background-color: rgba($color: #000000, $alpha: 0.8);

    }

    &__text {
        font-family: "IBM Plex Sans", Arial, sans-serif;
        font-size: 14px;
        font-weight: 600;
        line-height: 20px;
        letter-spacing: 0.05em;
        color: #ffffff;
        text-transform: uppercase;
        text-decoration: none;
    }

    &__slogan-hashtag-wrapper {
        display: flex;
        justify-content: space-between;
        margin-bottom: 39px;
    }

    &__hashtag {
        color: rgba($color: #ffffff, $alpha: 0.6);

        &:hover {
            color: rgba($color: #ffffff, $alpha: 1);
        }

        &:focus {
            color: rgba($color: #ffffff, $alpha: 1);
        }

        &:active {
            color: rgba($color: #ffffff, $alpha: 0.5);
        }
    }

    &__slogan {
        padding: 0;
        margin: 0;
    }

    @media (max-width: 768px) {

        &__slogan-hashtag-wrapper {
            flex-wrap: wrap;
        }

        &__text {
            font-size: 12px;
        }

        &__slogan {
            margin-right: 50px;
        }
    }

    @media (max-width: 768px) {

        &__slogan {
            margin-right: 50px;
            margin-bottom: 10px;
        }
    }
}

.webp .hero {
    background-image: repeating-linear-gradient(to bottom, black, black 1px, transparent 1px, transparent 5px), url(../img/bg-hero.webp);

    @media (-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
        background-image: repeating-linear-gradient(to bottom, black, black 1px, transparent 1px, transparent 5px), url(../img/bg-hero@2x.webp);
    }
}