.hero {
    width: 100%;
    height: 100vh;
    background-image: repeating-linear-gradient(to bottom, black, black 1px, transparent 1px, transparent 5px),
    url(../img/bg-hero.jpg);
    background-repeat: no-repeat;
    background-size: cover;

    &__inner-wrapper {
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        height: 100%;
    }

    &__text {
        font-family: "IBM Plex Sans", Arial, sans-serif;
        font-size: 14px;
        font-weight: 600;
        line-height: 20px;
        letter-spacing: 0.05em;
        color: #ffffff;
        text-transform: uppercase;
        text-decoration: none;
    }

    &__slogan-hashtag-wrapper {
        display: flex;
        justify-content: space-between;
        margin-bottom: 39px;
    }

    &__hashtag {
        opacity: 0.6;
    }

    &__slogan {
        padding: 0;
        margin: 0;
    }

    @media (max-width: 768px) {

        &__slogan-hashtag-wrapper {
            flex-wrap: wrap;
        }

        &__text {
            font-size: 12px;
        }

        &__slogan {
            margin-right: 50px;
        }
    }

    @media (max-width: 768px) {

        &__slogan {
            margin-right: 0px;
        }
    }
}