.nav {
    display: flex;
    margin-bottom: 25px;

    &__link {
        font-family: "IBM Plex Sans", Arial, sans-serif;
        font-size: 14px;
        font-weight: 600;
        line-height: 20px;
        letter-spacing: 0.05em;
        color: #ffffff;
        text-transform: uppercase;
        text-decoration: none;
        transition: color 0.5s ease-in-out;

        &--story {
            margin-right: 58px;
        }

        &--facts {
            margin-right: 60px;
        }

        &:hover {
            color: #eb444a;
        }

        &:focus {
            color: #eb444a;
        }

        &:active {
            color: rgba($color: #eb444a, $alpha: 0.7);
        }
    }

    @media (max-width: 1000px) {

        &__link {
    
            &--story {
                margin-right: 40px;
            }
            &--facts {
                margin-right: 40px;
            }
        }
    }

    @media (max-width: 768px) {
        width: 100%;
        // flex-wrap: wrap;
        margin-bottom: 10px;

        &__link {
            padding: 10px 0;
            font-size: 12px;
    
            &--story {
                margin-right: 40px;
            }
            &--facts {
                margin-right: 40px;
            }
        }
    }
}