.utterance {
    // position: sticky;
    // left: 0;
    // bottom: 0;
    width: 100%;
    padding-top: 30px;
    padding-bottom: 75px;
    border-top: 1px solid #FFFFFF;

    &__inner-wrapper {
        display: flex;
        justify-content: space-between;
        align-items: baseline;
    }

    &__text {
        padding: 0;
        margin: 0;
        margin-right: 100px;
        font-family: "Playfair Display", Georgia, serif;
        font-size: 47px;
        font-weight: 400;
        line-height: 50px;
        letter-spacing: 0em;
        color: #FFFFFF;

        span {
            font-style: italic;
            font-weight: 700;
            color: #C4CFC4;
        }
    }

    &__scroll-btn {
        padding: 0;
        font-family: "IBM Plex Sans", Arial, sans-serif;
        font-size: 14px;
        font-weight: 600;
        line-height: 20px;
        letter-spacing: 0.05em;
        color: #EB444A;
        text-transform: uppercase;
        background: none;
        border: none;
        cursor: pointer;
        transition: color 0.5s ease-in-out;

        &:hover {
            color: #ff9900;
        }

        &:focus {
            color: #ff9900;
        }

        &:active {
            color:rgba($color: #ff9900, $alpha: 0.5);
        }
    }

    @media (max-width: 1000px) {

        &__text {
            margin-right: 0;
        }

        &__scroll-btn {
            display: none;
        }
    }

    @media (max-width: 768px) {
        padding-bottom: 30px;

        &__text {
            font-size: 30px;
        }
    }

    @media (max-width: 320px) {
        &__text {
            font-size: 24px;
        }
    }
}